@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Base font size for body */
body {
  font-size: 16px;
  /* This is the default size for text */
}

/* Define font sizes for headings */
h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

/* Paragraph text */
p {
  font-size: 16px;
  /* Same as the body font size */
}

/* Small text */
small {
  font-size: 14px;
}

/* Define font sizes for other common text elements */
blockquote {
  font-size: 18px;
}

pre,
code {
  font-size: 14px;
}

a {
  font-size: 16px;
}


@layer base {
  :root {
    --background: 210, 20%, 94%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 160 84% 39%;
    --primary-foreground: 0 0% 2%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;
  }
  
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 180 9% 98%;

    --card: 0, 0%, 8%;
    --card-foreground: 180 9% 98%;

    --popover: 160 6% 10%;
    --popover-foreground: 180 9% 98%;

    --primary: 160 84% 39%;
    --primary-foreground: 120 9% 2%;

    --secondary: 157 8% 19%;
    --secondary-foreground: 180 9% 98%;

    --muted: 158 7% 29%;
    --muted-foreground: 159 8% 49%;

    --accent: 160 71% 19%;
    --accent-foreground: 180 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 158 9% 18%;
    --ring: 160 84% 40%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Customize scrollbar */
*::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background: #09090a;
}

*::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 90px;
  width: 2px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #10b77f #ffffff00;
}